/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

body {
    padding: 70px 0px;
    background-color: #eeeeee;
}
.navbar {
    min-height: 30px;
}
.img-circle {
    /*width: 10%;*/
    vertical-align: middle;
}
.form-horizontal .control-label {
    text-align: left;
}
.input-required {
    border-left: solid #ff0000;
}
.form-border {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.row.panel{         
    background-color: #fff;
    margin-top: 0px;
    margin-bottom: 20px;
}
.navbar-blue, .btn-blue
,.btn-blue:hover, .btn-blue:focus{
    color: #ffffff;
    background-color: #007aff;
    border-color: #007aff
}
.fa-white {
    color: white;
}
.fa-white:hover
,.fa-white:focus{
    color: white;
}
.fa-blue {
    color: #007aff;
}
.fa-blue:hover
,.fa-blue:focus{
    color: #007aff;
}
.fa-3{
    font-size: 2em;
}

.icon-in-input{
    margin-top: 6px;
    margin-left:-50px;
}
.panel-body {
    padding: none;
}
.vertical_dotted_line {
    border-left: 1px dotted #000;
    height: 48px;
    left: 8%;
}
input.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
    background-color: #fff;
    border: none;
    border-color: transparent;
}
.no-select-background {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
    background-color: #fff;
    border: none;
    border-color: transparent;
}
.no-select-background:hover, .no-select-background:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
    background-color: #fff;
    border: none;
    border-color: transparent;
    padding: 0px 10px 0px 0px;
    background: transparent url("../img/arrow_down.gif") no-repeat right center;
}

.i-checked {
    color: #ff0000 !important;
}
.i-unchecked {
    color:#cccccc !important;
}
.navbar-title {
    text-align: center;
    padding: 7px 0px;
}
.navbar-title > span {
    color: white;
}
.hr-dashed {
    border-top: 1px dashed #ccc;
}
.label-select {
    width: 50px; 
    display: inline; 
    padding: 0;
}
.dashed-divider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    height: 100%;
    border-left: 1px dashed #ccc;
}
.nav-circle > ul.nav-tabs  {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    border-radius: 4px 4px 0 0;
}
.nav-circle > ul.nav-tabs > li > a {
    color: #cccccc
}
.nav-circle > ul.nav-tabs > li > a,
.nav-circle > ul.nav-tabs > li > a:hover,
.nav-circle > ul.nav-tabs > li > a:focus {
    margin: 5px 8px 5px;
    margin-bottom: 8px;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-table;
    border: 2px solid #cccccc;
    padding: 0;
}
.nav-circle > ul.nav-tabs > li > a:hover,
.nav-circle > ul.nav-tabs > li > a:focus,
.nav-circle > ul.nav-tabs > li.active > a {
    background-color: #007aff;
    color: #ffffff;
    border-color: transparent;
}
.nav-circle > ul.nav-tabs > li > a > tab-heading {
    vertical-align: middle;
    display: table-cell;
}
.nav-circle > ul.nav-tabs > li.active > a > tab-heading > .bottom-arrow, 
.nav-circle > ul.nav-tabs > li.active > a > tab-heading > .bottom-arrow:after {
    visibility: visible;
}
.bottom-arrow,
.bottom-arrow:after {
    visibility: hidden;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.bottom-arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -6px;
    border-bottom-color: #999999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-width: 0 6px 6px;
}
.bottom-arrow:after {
    top: 1px;
    margin-left: -6px;
    border-bottom-color: #ffffff;
    border-width: 0 6px 6px;
    content: " ";
}
.nav-circle-tab {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    border: 1px #dddddd solid;
}
/*ng-switcher css start*/
.switch {
    position: relative;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 44px;
    height: 25px;
    border-radius: 22px;
    transition: all .5s ease; 
}
.switch .switch-button {
    height: 25px;
    width: 25px;
    background: white;
    display: block;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-top: -1px;
    position: absolute;
    transition: left .5s ease;
}
.switch.switch-left .switch-button {
    left: -1px; 
}
.switch.switch-right {
    background: #00DB4A;
    border-color: #00DB4A; 
}
.switch.switch-right .switch-button {
    left: 19px;
    border: 1px solid #00DB4A;
}
div .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
    background-color: #fff;
    border: none;
    border-color: transparent;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
a[disabled] {
    pointer-events: none;
    cursor: default;
    color: gray;
}
a[disabled] > .fa
,a[disabled] > .fa:hover
,a[disabled] > .fa:focus {
    color: gray;
}.no-underline {
    text-decoration: none;
}
.panel-title a {
    text-decoration: none;
    cursor: pointer;
}/*ng-switcher css end*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Styles */
    .line-div:nth-child(odd) {
        /*color: green;          */
    }
    .line-div:nth-child(even) {
        /*color: red;*/

    }  
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    /* Styles */
    .line-div:nth-child(odd) {
        /*color: green;*/
        border-right:1px dotted rgb(0, 0, 0);
    }
    .line-div:nth-child(even) {
        /*color: red;*/

    }  
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    /* Styles */
    .line-div:nth-child(odd) {
        /*color: green;*/
    }
    .line-div:nth-child(even) {
        /*color: red;*/

    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    /* Styles */
    .line-div:nth-child(odd) {
        /*color: green;*/
        border-right:1px dotted rgb(0, 0, 0);
    }
    .line-div:nth-child(even) {
        /*color: red;*/

    }
    .line-div .form-group {
        width: 90%;
    }
    .line-div:nth-child(even) .form-group {
        margin-left: 10%;            
    }       
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    /* Styles */
    .line-div:nth-child(odd) {
        /*color: green;*/
        border-right:1px dotted rgb(0, 0, 0);
    }
    .line-div:nth-child(even) {
        /*color: red;*/

    }
    .line-div .form-group {
        width: 90%;
    }
    .line-div:nth-child(even) .form-group {
        margin-left: 10%;            
    }       
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    /* Styles */
    .line-div:nth-child(odd) {
        /*color: green;*/
        border-right:1px dotted rgb(0, 0, 0);
    }
    .line-div:nth-child(even) {
        /*color: red;*/

    }
    .line-div .form-group {
        width: 90%;
    }
    .line-div:nth-child(even) .form-group {
        margin-left: 10%;            
    }       
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    /* Styles */
    .line-div:nth-child(odd) {
        /*color: green;*/
        border-right:1px dotted rgb(0, 0, 0);
    }
    .line-div:nth-child(even) {
        /*color: red;*/

    }
    .line-div .form-group {
        width: 90%;
    }
    .line-div:nth-child(even) .form-group {
        margin-left: 10%;            
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    /* Styles */
    .line-div:nth-child(odd) {
        /*color: green;*/
        border-right:1px dotted rgb(0, 0, 0);
    }
    .line-div:nth-child(even) {
        /*color: red;*/

    }
    .line-div .form-group {
        width: 90%;
    }
    .line-div:nth-child(even) .form-group {
        margin-left: 10%;            
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
    .line-div:nth-child(odd) {
        /*color: green;*/
    }
    .line-div:nth-child(even) {
        /*color: red;*/

    }      
}
