<div class="form-group" ng-repeat="c in contactModel" ng-hide="!!c.markAsDelete">
    <label for="value" class="col-sm-3 control-label">
        <a tooltip="{{linkName}}" style="text-decoration: none; cursor: pointer;" ng-click="addContactInfo($index)" ng-disabled="!!contactModel[$index].value == false">
            <i class="fa fa-plus-circle fa-blue"></i>
        </a>
        <select class="form-control label-select" ng-model="c.pointName" ng-options="o.code as o.name for o in infoTitles">
        </select>
    </label>
    <div class="col-sm-9">
        <div class="input-group">
            <input type="text" class="form-control" id="value" ng-model="c.value" ng-focus="c.focus=true" ng-blur="c.focus=false" placeholder="请输入...">        
            <span class="input-group-addon" style="background: transparent; border-color: transparent;">
                <a tooltip="删除" style="text-decoration: none; cursor: pointer;" ng-click="removeContactInfo($index)">
                    <i class="fa fa-trash-o fa-blue"></i>
                </a>
            </span>
        </div>
    </div>
</div>