<nav style="text-align: center" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <span>新增联系人</span>
</nav>

<div class="container">
    <div class="row" style="vertical-align: middle">
        <div class="col-md-1 col-sm-2 col-xs-2">
            <i class="fa fa-user fa-4x"></i>
        </div>
        <div class="col-md-3">
            <p>支持jpg、gif、png、bmp格式</p>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary" ng-click="open()"><i class="fa fa-upload"></i>&nbsp;上传照片</button>
        </div>
    </div>
    <hr>
    <div class="row panel panel-default form-horizontal">

    </div>
</div>
