<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a href="/"><i class="fa fa-home fa-white fa-2"></i></a>
    </div>
</nav>
<div class="container">
    <div class="row panel panel-default form-horizontal">        
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label input-required">名称</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" ng-model="$data.site.name" placeholder="请输入...">
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label for="number" class="col-sm-3 control-label">编码</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="number" ng-model="$data.site.number" placeholder="请输入...">
                </div>
            </div>
        </div>

        <div class="col-md-6 line-div">
            <div class="form-group">
                <label for="enabled" class="col-sm-3 control-label">有效</label>
                <div class="col-sm-9">
                    <div ng-switcher class="form-control" ng-model="$data.site.enabled" id="enabled"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label for="isPrimary" class="col-sm-3 control-label">主地址</label>
                <div class="col-sm-9">
                    <div ng-switcher class="form-control" ng-model="$data.site.isPrimary" id="isPrimary"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-sm-3 control-label">国家</label>
                <div class="col-sm-9">
                    <region-jh ng-model="$data.site.country.code"></region-jh>
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label for="primary" class="col-sm-3 control-label">省/州</label>
                <div class="col-sm-9">
                    <region-jh depends="$data.site.country.code" ng-model="$data.site.province.code"></region-jh>
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label for="primary" class="col-sm-3 control-label">市</label>
                <div class="col-sm-9">
                    <region-jh depends="$data.site.province.code" ng-model="$data.site.city.code"></region-jh>
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label for="primary" class="col-sm-3 control-label">区/县</label>
                <div class="col-sm-9">
                    <region-jh depends="$data.site.city.code" ng-model="$data.site.region.code"></region-jh>
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label for="postcode" class="col-sm-3 control-label">邮编</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="postcode" ng-model="$data.site.postcode" placeholder="请输入...">
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div" ng-repeat="addr in $data.site.addressList">
            <div class="form-group">
                <div class="col-md-3 control-label">
                    <i class="fa fa-plus-circle" ng-click="addAddress()" ng-if="$index===0"></i>
                    <i class="fa fa-minus-circle" ng-click="removeAddress($index)" ng-if="$index!==0"></i>
                    <label>地址</label>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="addr.address" placeholder="请输入...">
                </div>
            </div>
        </div>     
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label for="businessScope" class="col-sm-3 control-label">业务用途</label>
                <div class="col-sm-9">
                    <select class="form-control" id="businessScope" ng-model="$data.site.businessScope" ng-options="o.code as o.name for o in $data.site.dds['Site.BusinessScope'].options">
                        <option value="" style="display: none;">请选择...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div" ng-repeat="c in $data.site.contactList">
            <div class="form-group">
                <div class="col-md-3 control-label">
                    <i class="fa fa-plus-circle" ng-click="addContact()" ng-if="$index===0"></i>
                    <i class="fa fa-minus-circle" ng-click="removeContact($index)" ng-if="$index!==0"></i>
                    <label for="contact">联系人</label>
                </div>
                <div class="col-sm-9">
                    <select class="form-control" id="contact">
                        <option value="" style="display: none;">请选择...</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-blue navbar-fixed-bottom" role="navigation">
    <div class="nav navbar-right">
        <button class="btn navbar-blue fa-white" ng-click="save()">确定</button>
        <span class="fa-white">|</span>
        <button class="btn navbar-blue fa-white" ng-click="cancel()">取消</button>
    </div>
</nav>

