<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a href="/"><i class="fa fa-home fa-white fa-3"></i></a>
    </div>
</nav>
<div class="row">
    <div class="col-md-2 col-xs-2 col-sm-2 navi-board-arrow"  ng-click="slideLeft()">
        <i class="fa fa-chevron-left fa-4x"></i>
    </div>
    <div class="col-md-8 navi-board col-xs-8 col-sm-8">
        <div class="navi-board-left" ng-repeat="slide in slides" ng-show="$index==currentIndex">
            <div ng-repeat="item in slide" class="section-cube" ng-click="jumpTo(item.url)">
                <div class="section-circle">
                    <i class="{{item.icon}}"></i>
                </div>
                <div class="name">
                    {{item.name}}
                </div>
                <div class="info">
                    {{item.info}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2  col-xs-2 col-sm-2 navi-board-arrow" ng-click="slideLeft()">
        <i class="fa fa-chevron-right fa-4x"></i>
    </div>
</div>
<div class="row navi-button-row">
    <i ng-class="{false:'fa fa-minus fa-3x navi-button',true:'fa fa-minus fa-3x navi-button-active'}[$index==currentIndex]" ng-click="slideTo($index)" ng-repeat="slide in slides" ></i>
</div>