<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">真实姓名</label>
        <div class="col-md-9 col-sm-9 col-xs-8">
            <input type="text" class="form-control" ng-model="$data.supplier.personInfo.realName" placeholder="请输入...">
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">称呼</label>
        <div class="col-md-9 col-sm-9 col-xs-8">
            <input type="text" class="form-control" ng-model="$data.supplier.personInfo.appellation" placeholder="请输入...">
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">性别</label>
        <div class="col-md-9 col-sm-9 col-xs-8">
            <select class="form-control" ng-model="$data.supplier.personInfo.gender">
                <option value="">请选择...</option>
            </select>
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">出生日期</label>
        <div class="col-md-9 col-sm-9 col-xs-8">
            <input type="text" datepicker-popup="yyyy-MM-dd" class="col-md-9 col-sm-9 form-control" ng-model="$data.supplier.personInfo.birthday" placeholder="请选择...">
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">出生地</label>
        <div class="col-md-9 col-sm-9 col-xs-8">
            <input type="text" class="form-control" ng-model="$data.supplier.personInfo.birthplace" placeholder="请输入...">
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">证件类型</label>
        <div class="col-md-9 col-sm-9 col-xs-8">
            <input type="text" class="form-control" ng-model="$data.supplier.personInfo.indentificationType" placeholder="请输入...">
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">证件号码</label>
        <div class="col-md-9 col-sm-9 col-xs-8">
            <input type="text" class="form-control" ng-model="$data.supplier.personInfo.identificationNumber" placeholder="请输入...">
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">学历</label>
        <div class="col-md-9 col-sm-9 col-xs-8">
            <select class="form-control" ng-model="$data.supplier.personInfo.education">
                <option value="">请选择...</option>
            </select>
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">婚姻状态</label>
        <div class="col-md-9 col-sm-9 col-xs-8">
            <select class="form-control" ng-model="$data.supplier.personInfo.married">
                <option value="">请选择...</option>
            </select>
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">个人收入</label>
        <div class="col-md-9 col-sm-9 col-xs-8">
            <input type="text" class="form-control" ng-model="$data.supplier.personInfo.personalIncome" placeholder="请输入...">
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">家庭收入</label>
        <div class="col-md-9 col-sm-9 col-xs-8">
            <input type="text" class="form-control" ng-model="$data.supplier.personInfo.familyIncome" placeholder="请输入...">
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">内部供应商</label>
        <div class="col-md-9 col-sm-9 col-xs-8">
            <div ng-switcher class="form-control" ng-model="$data.supplier.personInfo.isInternalSupplier"></div>
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">有效日期</label>
        <div class="col-md-4 col-sm-4 col-xs-8">
            <input type="text" datepicker-popup="yyyy-MM-dd" class="form-control" ng-model="$data.supplier.personInfo.expiryDateFrom" placeholder="请选择...">
        </div>
        <label class="col-md-1 control-label hidden-xs">至</label>
        <div class="col-md-4 col-sm-4 hidden-xs">
            <input type="text" datepicker-popup="yyyy-MM-dd" class="form-control" ng-model="$data.supplier.personInfo.expiryDateTo" placeholder="请选择...">
        </div>
    </div>
</div>
<div class="col-md-6 line-div visible-xs">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">至</label>
        <div class="col-md-4 col-sm-4 col-xs-8">
            <input type="text" datepicker-popup="yyyy-MM-dd" class="form-control" ng-model="$data.supplier.personInfo.expiryDateTo" placeholder="请选择...">
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">可联系时间</label>
        <div class="col-md-4 col-sm-4 col-xs-8">
            <timepicker-jh ng-model="$data.supplier.personInfo.availableTimeFrom"></timepicker-jh>
        </div>
        <label class="col-md-1 control-label hidden-xs">至</label>
        <div class="col-md-4 col-sm-4 hidden-xs">
            <timepicker-jh ng-model="$data.supplier.personInfo.availableTimeTo"></timepicker-jh>
        </div>
    </div>
</div>
<div class="col-md-6 line-div visible-xs">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">至</label>
        <div class="col-md-4 col-sm-4 col-xs-8">
            <timepicker-jh ng-model="$data.supplier.personInfo.availableTimeTo"></timepicker-jh>
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">采购组</label>
        <div class="col-md-9 col-sm-9 col-xs-8">
            <select class="form-control" ng-model="$data.supplier.personInfo.purchaseGroup">
                <option value="">请选择...</option>
            </select>
        </div>
    </div>
</div>
<div class="col-md-6 line-div">
    <div class="form-group">
        <label class="col-md-3 col-sm-3 col-xs-4 control-label">工作日</label>
        <div class="col-md-9 col-sm-9 col-xs-8">
            <multiselect class="input-xlarge" multiple="true" ng-model="$data.supplier.personInfo.workdays" options="id as c.name for c in fruits"></multiselect>
        </div>
    </div>
</div>