<div class="row padding-top-bottom-15 avatar-bar" style="min-height: 120px">
    <div class="item-card-padding col-xs-2" style="max-width: 80px">
        <img src="app/img/amy_jones.jpg" class="img-circle img-responsive">
    </div>
    <div class="item-card-padding col-xs-6">
        <label class="col-xs-12">{{$data.supplier.accountName}}</label>
        <div class="col-xs-12">{{$data.supplier.accountNumber}}</div>
        <div class="col-xs-12">{{$data.supplier.belongToCompany}}</div>
    </div>
    <button type="button" class="btn btn-blue pull-right" ng-show="!!$data.listView" ng-click="editSupplier()">
        <i class="fa fa-pencil"></i> 编辑
    </button>
    <div ng-switcher class="pull-right" ng-model="$data.supplier.isEnabled" ng-show="!$data.listView"></div>
</div>
<div class="row" ng-show="!$data.listView">
    <div class="pull-right">
        <a href="#"><<上一个供应商</a>
        &nbsp; &nbsp;
        <a href="#">下一个供应商>></a>
    </div>
</div>
<div class="row panel panel-default form-horizontal">
    <div class="col-md-6 line-div">
        <div class="form-group">
            <label class="col-xs-4 control-label" for="type">类型</label>
            <span class="col-xs-8">
                {{$data.supplier.type.name}}
            </span>
        </div>
    </div>
    <div class="col-md-6 line-div">
        <div class="form-group">
            <label class="col-xs-4 control-label input-required">名称</label>
            <span class="col-xs-8">
                {{$data.supplier.accountName}}
            </span>
        </div>
    </div>
    <div class="col-md-6 line-div">
        <div class="form-group">
            <label class="col-xs-4 control-label">编码</label>
            <span class="col-xs-8">
                {{$data.supplier.accountNumber}}
            </span>
        </div>
    </div>
    <div class="col-md-6 line-div">
        <div class="form-group">
            <label class="col-xs-4 control-label">所属公司</label>
            <span class="col-xs-8">
                {{$data.supplier.belongToCompany}}
            </span>
        </div>
    </div>
    <div class="col-md-6 line-div">
        <div class="form-group">
            <label class="col-xs-4 control-label">客户全称</label>
            <span class="col-xs-8">
                {{customerFullName}}
            </span>
        </div>
    </div>
    <div class="col-md-6 line-div" ng-if="$data.supplier.type.code == 'C'">
        <div class="form-group">
            <label class="col-xs-4 control-label">真实姓名</label>
            <span class="col-xs-2">
                {{$data.supplier.lastName}}
            </span>
            <span class="col-xs-3">
                {{$data.supplier.firstName}}
            </span>
            <span class="col-xs-3">
                {{$data.supplier.title}}
            </span>
        </div>
    </div>
    <div class="col-md-6 line-div" ng-if="$data.supplier.type.code == 'B'">
        <div class="form-group">
            <label class="col-xs-4 control-label input-required">企业名称</label>
            <span class="col-xs-8">
                {{$data.supplier.companyName}}
            </span>
        </div>
    </div>
    <div class="col-md-6 line-div">
        <div class="form-group">
            <label class="col-xs-4 control-label">备注</label>
            <span class="col-xs-8">
                {{$dta.supplier.remark}}
            </span>
        </div>
    </div>
    <div class="col-md-6 line-div">
        <div class="form-group">
            <label class="col-xs-4 control-label">关键字</label>
            <span class="col-xs-8">
                {{$data.supplier.keyword}}
            </span>
        </div>
    </div>
</div>
<div class="row">
    <accordion>
        <accordion-group is-open="isopen">
            <accordion-heading>
                联系方式<i class="fa" ng-class="{'fa-angle-double-up': isopen, 'fa-angle-double-down': !isopen}"></i>
            </accordion-heading>
            <div class="form-horizontal">
                <div class="col-md-6 line-div" ng-repeat="o in $data.supplier.contactInfo">
                    <div class="form-group">
                        <div class="col-md-3 control-label">
                            {{$data.supplier.contactInfo.type.name}}
                        </div>
                        <span class="col-md-9 col-sm-10">
                            {{$data.supplier.contactInfo.value}}
                        </span>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>
<div class="row" style="margin-top: 20px;">
    <tabset class="nav-circle">
        <!--tab for site-->
        <tab>
            <tab-heading>
                <div class="circle">
                    <i class="fa fa-location-arrow"></i>
                </div>
                <div class="bottom-arrow"></div>
            </tab-heading>
            <div class="table-responsive nav-circle-tab">
                <table class="table table-hover" style="margin-bottom: 0;">
                    <tbody>
                        <tr ng-hide="$data.supplier.sites.length > 0">
                            <td style="text-align: center;">暂无地址信息</td>
                        </tr>
                        <tr ng-repeat="s in $data.supplier.sites">
                            <td>
                                <a tooltip="主地址" ng-class="{true:'i-checked', false:'i-unchecked'}[s.primary]">
                                    <i class="fa fa-foursquare"></i>
                                </a>
                                <span>{{s.name}}({{s.usage}})</span>
                            </td>
                            <td>{{s.country}}, {{s.province}}, {{s.city}}, {{s.district}}</td>
                            <td>{{s.address}}</td>
                            <td>{{s.primaryContact}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>

        <!--tab for contact-->
        <tab> 
            <tab-heading>
                <div class="circle">
                    <i class="fa fa-group"></i>
                </div>
                <div class="bottom-arrow"></div>
            </tab-heading>
            <div class="table-responsive nav-circle-tab">
                <table class="table table-hover" style="margin-bottom: 0;">
                    <tbody>
                        <tr ng-hide="$data.supplier.contacts.length > 0">
                            <td style="text-align: center;">暂无联系人信息</td>
                        </tr>
                        <tr ng-repeat="c in $data.supplier.contacts">
                            <td>
                                <a tooltip="主联系人" ng-class="{true:'i-checked', false:'i-unchecked'}[c.primary]">
                                    <i class="fa fa-foursquare"></i>
                                </a>
                                <span>
                                    <i class="fa fa-user fa-blue"></i>
                                    {{c.firstName + c.lastName}}
                                </span>
                            </td>
                            <td>{{c.honorlficSuffix}}</td>
                            <td>{{c.mobile}}</td>
                            <td>{{c.mail}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>

        <!--tab for accounting-->
        <tab>
            <tab-heading>
                <div class="circle">
                    <i class="fa fa-gbp"></i>
                </div>
                <div class="bottom-arrow"></div>
            </tab-heading>
            <div class="row panel panel-default form-horizontal">
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">总账分类</label>
                        <span class="col-xs-8">
                            {{$data.supplier.accountingInfo.ledgerCatalog}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">付款条件</label>
                        <span class="col-xs-8">
                            {{$data.supplier.accountingInfo.paymentTerms}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-xs-4 control-label">信用信息</label>
                        <span class="col-xs-8">
                            {{$data.supplier.accountingInfo.creditInfo}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">结算类型</label>
                        <span class="col-xs-8">
                            {{$data.supplier.accountingInfo.settlementType}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">账期</label>
                        <span class="col-xs-8">
                            {{$data.supplier.accountingInfo.accountDate}}
                        </span>

                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">账期提醒</label>
                        <span class="col-xs-8">
                            {{$data.supplier.accountingInfo.accountAlert}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">付款方式</label>
                        <span class="col-xs-8">
                            {{$data.supplier.accountingInfo.paymentTerms}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">付款对象</label>
                        <span class="col-xs-8">
                            {{$data.supplier.accountingInfo.paymentTo}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4">缺省币种</label>
                        <span class="col-xs-8">
                            {{$data.supplier.accountingInfo.defaultCurrency}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">同时为客户</label>
                        <div class="col-xs-8">
                            <div ng-switcher switcher-disabled="true" class="form-control" ng-model="$data.supplier.accountingInfo.isCustomer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>

        <!--tab for purchase-->
        <tab>
            <tab-heading>
                <div class="circle">
                    <i class="fa fa-dollar"></i>
                </div>
                <div class="bottom-arrow"></div>
            </tab-heading>
            <div class="nav-circle-tab">
                zz
            </div>
        </tab>

        <!--tab for company info or personal info-->
        <tab>
            <tab-heading>
                <div class="circle">
                    <i class="fa fa-align-justify"></i>
                </div>
                <div class="bottom-arrow"></div>
            </tab-heading>

            <!--tab for personal info-->
            <div class="nav-circle-tab row panel panel-default form-horizontal" ng-show="$data.supplier.type.code == 'C'">
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">真实姓名</label>
                        <span class="col-xs-8">
                            {{$data.supplier.personInfo.realName}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">称呼</label>
                        <span class="col-xs-8">
                            {{$data.supplier.personInfo.appellation}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">性别</label>
                        <span class="col-xs-8">
                            {{$data.supplier.personInfo.gender}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">出生日期</label>
                        <span class="col-xs-8">
                            {{$data.supplier.personInfo.birthday}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">出生地</label>
                        <span class="col-xs-8">
                            {{$data.supplier.personInfo.birthplace}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">证件类型</label>
                        <span class="col-xs-8">
                            {{$data.supplier.personInfo.indentificationType}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">证件号码</label>
                        <span class="col-xs-8">
                            {{$data.supplier.personInfo.identificationNumber}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">学历</label>
                        <span class="col-xs-8">
                            {{$data.supplier.personInfo.education}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">婚姻状态</label>
                        <span class="col-xs-8">
                            {{$data.supplier.personInfo.married}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">个人收入</label>
                        <span class="col-xs-8">
                            {{$data.supplier.personInfo.personalIncome}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">家庭收入</label>
                        <span class=" col-xs-8">
                            {{$data.supplier.personInfo.familyIncome}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">内部供应商</label>
                        <div class="col-xs-8">
                            <div ng-switcher switcher-disabled="true" ng-model="$data.supplier.personInfo.isInternalSupplier"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-4 control-label">有效日期</label>
                        <span class="col-sm-4 col-xs-8">
                            {{$data.supplier.personInfo.expiryDateFrom}}
                        </span>
                        <label class="col-sm-1 col-xs-4 control-label">至</label>
                        <span class="col-sm-4 col-xs-8">
                            {{$data.supplier.personInfo.expiryDateTo}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-4 control-label">可联系时间</label>
                        <span class="col-sm-4 col-xs-8">
                            {{$data.supplier.personInfo.availableTimeFrom}}
                        </span>
                        <label class="col-sm-1 col-xs-4 control-label">至</label>
                        <span class="col-sm-4 col-xs-8">
                            {{$data.supplier.personInfo.availableTimeTo}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">采购组</label>
                        <span class="col-xs-8">
                            {{$data.supplier.personInfo.purchaseGroup}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">工作日</label>
                        <span class="col-xs-8">
                            {{$data.supplier.personInfo.workdays}}
                        </span>
                    </div>
                </div>
            </div>

            <!--tab for company info-->
            <div class="nav-circle-tab row panel panel-default form-horizontal" ng-show="$data.supplier.type.code == 'B'">
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">纳税登记编码</label>
                        <span class="col-xs-8">
                            {{$data.supplier.companyInfo.taxRegistrationNumber}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">纳税人标识</label>
                        <span class="col-xs-8">
                            {{$data.supplier.companyInfo.taxPayerIdentity}}
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div><div></div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">员工数</label>
                        <span class="col-xs-8">
                            {{$data.supplier.companyInfo.staffCount}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">建立年度</label>
                        <span class="col-xs-8">
                            {{$data.supplier.companyInfo.establishYear}}
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div><div></div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">CEO名称</label>
                        <span class="col-xs-8">
                            {{$data.supplier.companyInfo.ceoName}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">CEO称谓</label>
                        <span class="col-xs-8">
                            {{$data.supplier.companyInfo.ceoAppellation}}
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div><div></div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">组织机构代码</label>
                        <span class="col-xs-8">
                            {{$data.supplier.companyInfo.organizationCode}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">类型</label>
                        <span class="col-xs-8">
                            {{$data.supplier.companyInfo.companyType}}
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div><div></div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">业务范围</label>
                        <span class="col-xs-8">
                            {{$data.supplier.companyInfo.businessScope}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">会计期末</label>
                        <span class="col-xs-8">
                            {{$data.supplier.companyInfo.accountingPeriodEnd}}
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div><div></div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">内部供应商</label>
                        <div class="col-xs-8">
                            <div ng-switcher switcher-disabled="true" ng-model="$data.supplier.companyInfo.isInternalSupplier"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-4 control-label">有效日期</label>
                        <span class="col-sm-4 col-xs-8">
                            {{$data.supplier.companyInfo.expiryDateFrom| date:yyyy-MM-dd}}
                        </span>
                        <label class="col-sm-1 col-xs-4 control-label">至</label>
                        <span class="col-sm-4 hidden-xs">
                            {{$data.supplier.companyInfo.expiryDateTo| date:yyyy-MM-dd}}
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div><div></div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-sm-3 col-xs-4 control-label">可联系时间</label>
                        <span class="col-sm-4 col-xs-8">
                            {{$data.supplier.companyInfo.availableTimeFrom| date:yyyy-MM-dd}}
                        </span>
                        <label class="col-sm-1 col-xs-4 control-label">至</label>
                        <span class="col-sm-4 col-xs-8">
                            {{$data.supplier.companyInfo.availableTimeTo| date:yyyy-MM-dd}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">采购组</label>
                        <span class="col-xs-8">
                            {{$data.supplier.companyInfo.purchaseGroup}}
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div><div></div>
                <div class="col-md-6 line-div">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">工作日</label>
                        <span class="col-xs-8">
                            {{$data.supplier.companyInfo.workdays}}
                        </span>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>