<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a href="/"><i class="fa fa-home fa-white fa-2"></i></a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-1 col-sm-2 col-xs-2">
            <img src="app/img/amy_jones.jpg" alt="aaa" class="img-circle img-responsive">
        </div>
        <div class="col-md-3">
            <p>支持jpg、gif、png、bmp格式{{$data.supplier.type}}</p>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary" ng-click="open()"><i class="fa fa-upload"></i>&nbsp;修改照片</button>
        </div>
    </div>
    <hr>
    <div class="row panel panel-default form-horizontal">
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-4 control-label">类型</label>
                <div class="col-md-9 col-sm-9 col-xs-8">
                    <select class="form-control" ng-model="$data.supplier.type" ng-options="o.code as o.name for o in $data.supplier.dds['CustomerType'].options">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-4 control-label input-required">名称</label>
                <div class="col-md-9 col-sm-9 col-xs-8">
                    <input type="text" class="form-control" placeholder="请输入..." ng-model="$data.supplier.name">
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-4 control-label">编码</label>
                <div class="col-md-9 col-sm-9 col-xs-8">
                    <label class="form-control-label light-font" ng-if="!$data.supplier.number">自动生成</label>
                    <label class="form-control-label" ng-if="$data.supplier.number">{{$data.supplier.number}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-4 control-label">所属公司</label>
                <div class="col-md-9 col-sm-9 col-xs-8">
                    <input type="text" class="col-md-8 col-xs-8 col-sm-8 form-control" typeahead-jh="a as a.name for a in autoBelongto($viewValue)" ng-model="$data.supplier.belongTo" placeholder="请选择...">
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-4 control-label">客户全称</label>
                <div class="col-md-9 col-sm-9 col-xs-8">
                    <input type="text" class="form-control" ng-model="$data.supplier.fullName" placeholder="请输入...">
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div" ng-if="$data.supplier.type=='C'">
            <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-4 control-label">真实姓名</label>
                <div class="col-md-3 col-sm-3 col-xs-2 no-horizontal-padding">
                    <input type="text" class="form-control" placeholder="姓" ng-model="$data.supplier.lastName">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 no-horizontal-padding">
                    <input type="text" class="form-control" placeholder="名" ng-model="$data.supplier.firstName">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 no-horizontal-padding">
                    <input type="text" class="form-control" placeholder="称谓" ng-model="$data.supplier.title">
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div" ng-if="$data.supplier.type=='B'">
            <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-4 control-label input-required">企业名称</label>
                <div class="col-md-9 col-sm-9 col-xs-8">
                    <input type="text" class="form-control" placeholder="请输入..." ng-model="$data.supplier.companyName" ng-blur="validateCompanyName($data.supplier.companyName)">
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-4 control-label">备注</label>
                <div class="col-md-9 col-sm-9 col-xs-8">
                    <input type="text" class="form-control" ng-model="$data.supplier.remark" placeholder="请输入...">
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-4 control-label">关键字</label>
                <div class="col-md-9 col-sm-9 col-xs-8">
                    <input type="text" class="form-control" ng-model="$data.supplier.keyword" placeholder="请输入...">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <accordion>
            <accordion-group is-open="isopen">
                <accordion-heading>
                    联系方式<i class="fa" ng-class="{'fa-angle-double-up': isopen, 'fa-angle-double-down': !isopen}"></i>
                </accordion-heading>
                <div class="form-horizontal">
                    <div class="col-md-6 line-div" ng-repeat="o in $data.supplier.contactInfo">
                        <div class="form-group">
                            <div class="col-md-3 col-sm-3 col-xs-4 control-label">
                                <i class="fa fa-plus-circle" ng-click="addContactPoint()" ng-if="$index===0"></i>
                                <i class="fa fa-minus-circle" ng-click="removeContactPoint($index)" ng-if="$index!==0"></i>
                                <select class="no-select-background" ng-model="o.type" ng-options="t.code as t.name for t in $data.supplier.dds['ContactInfo.Type'].options">
                                </select>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-8">
                                <input type="text" class="form-control" ng-model="o.value" placeholder="请输入...">
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="row" style="margin-top: 20px;">
        <tabset class="nav-circle">
            <!--tab for site-->
            <tab>
                <tab-heading>
                    <div class="circle" tooltip="地址">
                        <i class="fa fa-location-arrow"></i>
                    </div>
                    <div class="bottom-arrow"></div>
                </tab-heading>
                <div class="table-responsive nav-circle-tab">
                    <table class="table table-hover" style="margin-bottom: 0;">
                        <tbody>
                            <tr ng-hide="$data.supplier.sites.length > 0">
                                <td style="text-align: center;">暂无地址信息，点击添加</td>
                            </tr>
                            <tr ng-repeat="s in $data.supplier.sites">
                                <td>
                                    <a tooltip="主地址" class="no-underline" href="javascript:void(0)" ng-click="s.primary = !s.primary" 
                                       ng-class="{true:'i-checked', false:'i-unchecked'}[s.isPrimary]">
                                        <i class="fa fa-foursquare"></i>
                                    </a>
                                    <span>{{s.name}}</span><span ng-if="s.businessScope">({{s.businessScopeString}})</span>
                                </td>
                                <td>{{s.regionString}}</td>
                                <td>{{s.address}}</td>
                                <td>{{s.primaryContact}}</td>
                                <td>
                                    <a tooltip="更多信息" href="javascript:void(0)" ng-click="viewSite(s)">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-lg btn-block btn-blue" ng-click="addSite()">
                    <i class="fa fa-plus"></i>
                </button>
            </tab>

            <!--tab for contact-->
            <tab> 
                <tab-heading>
                    <div class="circle" tooltip="联系人">
                        <i class="fa fa-group"></i>
                    </div>
                    <div class="bottom-arrow"></div>
                </tab-heading>
                <div class="table-responsive nav-circle-tab">
                    <table class="table table-hover" style="margin-bottom: 0;">
                        <tbody>
                            <tr ng-hide="$data.supplier.contacts.length > 0">
                                <td style="text-align: center;">暂无联系人信息，点击添加</td>
                            </tr>
                            <tr ng-repeat="c in $data.supplier.contacts">
                                <td>
                                    <a tooltip="主联系人" class="no-underline" href="javascript:void(0)" ng-click="c.primary = !c.primary" 
                                       ng-class="{true:'i-checked', false:'i-unchecked'}[c.isPrimary]">
                                        <i class="fa fa-foursquare"></i>
                                    </a>
                                    <span>
                                        <i class="fa fa-user fa-blue"></i>
                                        {{c.lastName + c.firstName}}
                                    </span>
                                </td>
                                <td>{{c.title}}</td>
                                <td>{{c.mobile}}</td>
                                <td>{{c.email}}</td>
                                <td>
                                    <a tooltip="更多信息" href="javascript:void(0)" ng-click="viewContact(c)">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-lg btn-block btn-blue" ng-click="addContact()">
                    <i class="fa fa-plus"></i>
                </button>
            </tab>
            <tab ng-if="$data.supplier.type">
                <tab-heading>
                    <div class="circle" tooltip="会计">
                        <i class="fa fa-gbp"></i>
                    </div>
                    <div class="bottom-arrow"></div>
                </tab-heading>
                <div class="nav-circle-tab row panel panel-default form-horizontal" ng-include="'app/views/master/supplier/accountingInfo.html'">
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <div class="circle" tooltip="采购">
                        <i class="fa fa-dollar"></i>
                    </div>
                    <div class="bottom-arrow"></div>
                </tab-heading>
                <div class="nav-circle-tab row panel panel-default form-horizontal" ng-include="'app/views/master/supplier/purchaseInfo.html'">
                </div>
            </tab>
            <tab ng-if="$data.supplier.type=='C'">
                <tab-heading>
                    <div class="circle" tooltip="个人">
                        <i class="fa fa-align-justify"></i>
                    </div>
                    <div class="bottom-arrow"></div>
                </tab-heading>
                <div class="nav-circle-tab row panel panel-default form-horizontal" ng-include="'app/views/master/supplier/personalInfo.html'">
                </div>
            </tab>
            <tab ng-if="$data.supplier.type=='B'">
                <tab-heading>
                    <div class="circle" tooltip="公司">
                        <i class="fa fa-align-justify"></i>
                    </div>
                    <div class="bottom-arrow"></div>
                </tab-heading>
                <div class="nav-circle-tab row panel panel-default form-horizontal" ng-include="'app/views/master/supplier/companyInfo.html'">
                </div>
            </tab>
        </tabset>
    </div>
</div>
<br>
<nav class="navbar navbar-blue navbar-fixed-bottom" role="navigation">
    <div class="nav navbar-left">
        <a tooltip="物料" href="javascript:void(0)" ng-click="goToMaterial($data.supplier.id)">
            <div class="circle-icon">
                <i class="fa fa-eraser fa-white"></i>
            </div>
        </a>
        <a tooltip="合同协议" href="javascript:void(0)">
            <div class="circle-icon">
                <i class="fa fa-files-o fa-white"></i>
            </div>
        </a>
        <a tooltip="设备" href="javascript:void(0)">
            <div class="circle-icon">
                <i class="fa fa-hdd-o fa-white"></i>
            </div>
        </a>
    </div>
    <div class="nav navbar-right">
        <button class="btn navbar-blue fa-white" ng-click="save()">保存</button>
        <span class="fa-white">|</span>
        <button class="btn navbar-blue fa-white" ng-click="cancel()">取消</button>
    </div>
</nav>