<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a href="/"><i class="fa fa-home fa-white fa-3"></i></a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-1 col-sm-2 col-xs-2">
            <img src="app/img/amy_jones.jpg" alt="aaa" class="img-circle img-responsive">
        </div>
        <div class="col-md-3">
            <p>支持jpg、gif、png、bmp格式</p>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary" ng-click="open()"><i class="fa fa-upload"></i>&nbsp;修改照片</button>
        </div>
    </div>
    <hr>
    <div class="row panel panel-default form-horizontal">
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-md-3 control-label input-required">类型</label>
                <div class="col-md-9 col-sm-10">
                    <select class="form-control" ng-model="$data.supplier.type" ng-options="o.code as o.name for o in $data.supplier.dds['CustomerType'].options">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div" ng-if="$data.supplier.type=='C'">
            <div class="form-group">
                <label class="col-md-3 control-label input-required">姓名</label>
                <div class="col-md-3 col-sm-3">
                    <input type="text" class="form-control" placeholder="姓" ng-model="$data.supplier.lastName">
                </div>
                <div class="col-md-3 col-sm-3">
                    <input type="text" class="form-control" placeholder="名" ng-model="$data.supplier.firstName">
                </div>
                <div class="col-md-3 col-sm-3">
                    <input type="text" class="form-control" placeholder="称谓" ng-model="$data.supplier.title">
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div" ng-if="$data.supplier.type=='B'">
            <div class="form-group">
                <label class="col-md-3 control-label input-required">企业名称</label>
                <div class="col-md-9 col-sm-3">
                    <input type="text" class="form-control" placeholder="请输入..." ng-model="$data.supplier.companyName" ng-blur="validateCompanyName($data.supplier.companyName)">
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-md-3 control-label">所属公司</label>
                <div class="col-md-9 col-sm-10">
                    <select class="form-control">
                        <option value="">请选择...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-md-3 control-label">关键字</label>
                <div class="col-md-9 col-sm-10">
                    <input type="text" class="form-control" placeholder="请输入...">
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-md-3 control-label">客户全称</label>
                <div class="col-md-9 col-sm-10">
                    <input type="text" class="form-control" placeholder="请输入...">
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-md-3 control-label input-required">账户名</label>
                <div class="col-md-9 col-sm-10">
                    <input type="text" class="form-control" placeholder="请输入..." ng-model="$data.supplier.accountName">
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-md-3 control-label">账户号</label>
                <div class="col-md-9 col-sm-10">
                    <input type="text" class="form-control" placeholder="请输入..." ng-model="$data.supplier.accountNumber">
                </div>
            </div>
        </div>
        <div class="col-md-6 line-div">
            <div class="form-group">
                <label class="col-md-3 control-label">备注</label>
                <div class="col-md-9 col-sm-10">
                    <input type="text" class="form-control" placeholder="请输入...">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <accordion>
            <accordion-group is-open="isopen">
                <accordion-heading>
                    联系方式<i class="fa" ng-class="{'fa-angle-double-up': isopen, 'fa-angle-double-down': !isopen}"></i>
                </accordion-heading>
                <div class="form-horizontal">
                    <div class="col-md-6 line-div" ng-repeat="o in $data.supplier.contactInfo">
                        <div class="form-group">
                            <div class="col-md-3 control-label">
                                <i class="fa fa-plus-circle" ng-click="addContactPoint()" ng-if="$index===0"></i>
                                <i class="fa fa-minus-circle" ng-click="removeContactPoint($index)" ng-if="$index!==0"></i>
                                <select class="no-select-background" ng-model="o.type" ng-options="t.code as t.name for t in $data.supplier.dds['ContactInfo.Type'].options">
                                </select>
                            </div>
                            <div class="col-md-9 col-sm-10">
                                <input type="text" class="form-control" placeholder="请输入...">
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="row" style="margin-top: 20px;">
        <tabset class="nav-circle">
            <!--tab for site-->
            <tab>
                <tab-heading>
                    <div class="circle">
                        <i class="fa fa-location-arrow"></i>
                    </div>
                    <div class="bottom-arrow"></div>
                </tab-heading>
                <div class="table-responsive nav-circle-tab">
                    <table class="table table-hover" style="margin-bottom: 0;">
                        <tbody>
                            <tr ng-hide="$data.supplier.sites.length > 0">
                                <td style="text-align: center;">暂无地址信息，点击添加</td>
                            </tr>
                            <tr ng-repeat="s in $data.supplier.sites">
                                <td>
                                    <a tooltip="主地址" class="no-underline" href="javascript:void(0)" ng-click="s.primary = !s.primary" 
                                       ng-class="{true:'i-checked', false:'i-unchecked'}[s.primary]">
                                        <i class="fa fa-foursquare"></i>
                                    </a>
                                    <span>{{s.name}}({{s.usage}})</span>
                                </td>
                                <td>{{s.country}}, {{s.province}}, {{s.city}}, {{s.district}}</td>
                                <td>{{s.address}}</td>
                                <td>{{s.primaryContact}}</td>
                                <td>
                                    <a tooltip="更多信息" href="javascript:void(0)" ng-click="editSite(s)">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-lg btn-block btn-blue" style="margin-top: 10px;" ng-click="addSite()">
                    <i class="fa fa-plus"></i>
                </button>
            </tab>

            <!--tab for contact-->
            <tab> 
                <tab-heading>
                    <div class="circle">
                        <i class="fa fa-group"></i>
                    </div>
                    <div class="bottom-arrow"></div>
                </tab-heading>
                <div class="table-responsive nav-circle-tab">
                    <table class="table table-hover" style="margin-bottom: 0;">
                        <tbody>
                            <tr ng-hide="$data.supplier.contacts.length > 0">
                                <td style="text-align: center;">暂无联系人信息，点击添加</td>
                            </tr>
                            <tr ng-repeat="c in $data.supplier.contacts">
                                <td>
                                    <a tooltip="主联系人" class="no-underline" href="javascript:void(0)" ng-click="c.primary = !c.primary" 
                                       ng-class="{true:'i-checked', false:'i-unchecked'}[c.primary]">
                                        <i class="fa fa-foursquare"></i>
                                    </a>
                                    <span>
                                        <i class="fa fa-user fa-blue"></i>
                                        {{c.firstName + c.lastName}}
                                    </span>
                                </td>
                                <td>{{c.honorlficSuffix}}</td>
                                <td>{{c.mobile}}</td>
                                <td>{{c.mail}}</td>
                                <td>
                                    <a tooltip="更多信息" href="javascript:void(0)" ng-click="editContact(c)">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-lg btn-block btn-blue" style="margin-top: 10px;" ng-click="addContact()">
                    <i class="fa fa-plus"></i>
                </button>
            </tab>
            <tab>
                <tab-heading>
                    <div class="circle">
                        <i class="fa fa-gbp"></i>
                    </div>
                    <div class="bottom-arrow"></div>
                </tab-heading>
                <div class="row panel panel-default form-horizontal">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-xs-4 col-md-4 col-sm-4 control-label">总账分类</label>
                            <div class="col-xs-8 col-xs-8 col-md-8 col-sm-8">
                                <input type="text" class="col-md-8 col-xs-8 col-sm-8 form-control" typeahead-jh="a as a.name for a in autoLedgerCatalog($viewValue)" ng-model="accountingInfo.ledgerCatalog" id="inputEmail3" placeholder="请选择...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 vertical_dotted_line visible-lg visible-md">
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-xs-4 col-md-4 col-sm-4 control-label">付款条件</label>
                            <div class="col-xs-8 col-md-8 col-sm-8">
                                <input type="text" class="col-xs-8 col-md-8 col-sm-8 form-control" typeahead-jh="a as a.name for a in autoLedgerCatalog($viewValue)" ng-model="accountingInfo.paymentTerms" id="inputEmail3" placeholder="请选择...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-xs-4 col-md-4 col-sm-4 control-label">信用信息</label>
                            <div class="col-xs-8 col-md-8 col-sm-8">
                                <input type="text" ng-model="accountingInfo.creditInfo" class="col-xs-8 col-md-8 col-sm-8 form-control" placeholder="请输入...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 vertical_dotted_line visible-lg visible-md">
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-xs-4 col-md-4 col-sm-4 control-label">结算类型</label>
                            <div class="col-xs-8 col-md-8 col-sm-8">
                                <input type="text" class="col-xs-8 col-md-8 col-sm-8 form-control" typeahead-jh="a as a.name for a in autoLedgerCatalog($viewValue)" ng-model="accountingInfo.settlementType" id="inputEmail3" placeholder="请选择...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-xs-4 col-md-4 col-sm-4 control-label">账期</label>
                            <div class="col-xs-8 col-md-8 col-sm-8">
                                <input type="text" datepicker-popup="yyyy-MM-dd" class="col-xs-8 col-md-8 col-sm-8 form-control" ng-model="accountingInfo.accountDate" is-open="accountDateOpenFlag" placeholder="请选择...">
                                <div class="col-md-1 col-xs-1 col-sm-1 icon-in-input" >
                                    <i class="fa fa-calendar" ng-click="accountDateOpen()" ></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-2 vertical_dotted_line visible-lg visible-md">
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-xs-4 col-md-4 col-sm-4 control-label">账期提醒</label>
                            <div class="col-xs-8 col-md-8 col-sm-8">
                                <input type="text" class="col-xs-8 col-md-8 col-sm-8 form-control"  ng-model="accountingInfo.accountAlert" placeholder="请输入...">
                                <div class="col-md-1 col-xs-1 col-sm-1 icon-in-input">
                                    天
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-xs-4 col-md-4 col-sm-4 control-label">付款方式</label>
                            <div class="col-xs-8 col-md-8 col-sm-8">
                                <input type="text" class="col-xs-8 col-md-8 col-sm-8 form-control" typeahead-jh="a as a.name for a in autoLedgerCatalog($viewValue)" ng-model="accountingInfo.paymentTerms" placeholder="请选择...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 vertical_dotted_line visible-lg visible-md">
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-xs-4 col-md-4 col-sm-4 control-label">付款对象</label>
                            <div class="col-xs-8 col-md-8 col-sm-8">
                                <input type="text" class="col-xs-8 col-md-8 col-sm-8 form-control" typeahead-jh="a as a.name for a in autoLedgerCatalog($viewValue)" ng-model="accountingInfo.paymentTo" placeholder="请选择...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-xs-4 col-md-4 col-sm-4 control-label">缺省币种</label>
                            <div class="col-xs-8 col-md-8 col-sm-8">
                                <input type="text" class="col-xs-8 col-md-8 col-sm-8 form-control" typeahead-jh="a as a.name for a in autoLedgerCatalog($viewValue)" ng-model="accountingInfo.defaultCurrency" placeholder="请选择...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 vertical_dotted_line visible-lg visible-md">
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-xs-4 col-md-4 col-sm-4 control-label">同时为客户</label>
                            <div class="col-xs-8 col-md-8 col-sm-8">
                                <div ng-switcher class="form-control" ng-model="accountingInfo.isCustomer"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <button popover="{{accountingInfo}}"  popover-placement="right" popover-trigger="focus" class="btn btn-default">Mouseenter</button>
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <div class="circle">
                        <i class="fa fa-dollar"></i>
                    </div>
                    <div class="bottom-arrow"></div>
                </tab-heading>
                <div class="nav-circle-tab">
                    zz
                </div>
            </tab>
            <tab>
                <tab-heading>
                    <div class="circle">
                        <i class="fa fa-align-justify"></i>
                    </div>
                    <div class="bottom-arrow"></div>
                </tab-heading>
                <div class="nav-circle-tab row panel panel-default form-horizontal" ng-include="'app/views/master/supplier/personalInfo.html'" ng-if="$data.supplier.type=='C'">
                </div>
                <div class="nav-circle-tab row panel panel-default form-horizontal" ng-include="'app/views/master/supplier/companyInfo.html'" ng-if="$data.supplier.type=='B'">
                </div>
            </tab>
        </tabset>
    </div>
</div>
<br>
<nav class="navbar navbar-blue navbar-fixed-bottom" role="navigation">
    <div class="nav navbar-left">
        <a tooltip="物料" class="circle-link" href="javascript:void(0)" ng-click="goToMaterial($data.supplier.id)">
            <i class="fa fa-eraser fa-white"></i>
        </a>
    </div>
    <div class="nav navbar-left">
        <a tooltip="合同协议" class="circle-link" href="javascript:void(0)">
            <i class="fa fa-files-o fa-white"></i>
        </a>
    </div>
    <div class="nav navbar-left">
        <a tooltip="设备" class="circle-link" href="javascript:void(0)">
            <i class="fa fa-hdd-o fa-white"></i>
        </a>
    </div>
    <div class="nav navbar-right">
        <button class="btn navbar-blue fa-white" ng-click="save()">保存</button>
        <span class="fa-white">|</span>
        <button class="btn navbar-blue fa-white">取消</button>
    </div>
</nav>