<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-header navbar-inverse row nav-justified">
        <a href="/"><i class="fa fa-home fa-white fa-3"></i></a>
    </div>
    <div class="navbar-header row nav-justified hidden-xs">
        <div class="col-sm-8 col-md-8 navbar-left line-border">
            <div class="col-sm-6 col-md-6">
                <input type="text" class="form-control body-back-color" placeholder="请输入关键字搜索...">
            </div>
            <div class="col-sm-1 col-md-1">
                <button class="btn body-back-color">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 navbar-right line-border">
            <select class="form-control body-back-color">
                <option value="">所有供应商</option>
            </select>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="item-card col-md-3 col-sm-4 col-xs-12" ng-repeat="a in [1,2,3,4,5,6]">
            <div class="col-md-2 col-sm-2 col-xs-2 item-card-padding">
                <img src="app/img/amy_jones.jpg" class="img-circle img-responsive">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8 item-card-padding">
                <label class="col-md-12 col-sm-12 col-xs-12">李三三</label>
                <div class="col-md-12 col-sm-12 col-xs-12">ID12345{{zzz}}</div>
                <div class="col-md-12 col-sm-12 col-xs-12">上海贝斯有限公司</div>
                <div class="col-md-12 col-sm-12 col-xs-12">15475544716</div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1 item-card-padding">
                <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">
                    <i class="fa fa-flickr"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">物料</a></li>
                    <li><a href="javascript:void(0)">合同协议</a></li>
                    <li><a href="javascript:void(0)">设备</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-blue navbar-fixed-bottom" role="navigation">
    <div class="nav navbar-left">
        <button class="btn navbar-blue fa-white">
            <i class="fa fa-th"></i>
        </button>
    </div>
    <div class="nav navbar-right">
        <button class="btn navbar-blue fa-white">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</nav>