
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a href="/"><i class="fa fa-home fa-white fa-3"></i></a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-1 col-sm-2 col-xs-2">
            <img src="app/img/amy_jones.jpg" alt="aaa" class="img-circle img-responsive">
        </div>
        <div class="col-md-3">
            <p>支持jpg、gif、png、bmp格式</p>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary"><i class="fa fa-upload"></i>&nbsp;修改照片</button>
        </div>
    </div>
    <hr>
    <div class="row panel panel-default">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label input-required">Email1</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email2</label>
                    <div class="col-sm-3">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                    <div class="col-sm-3">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                    <div class="col-sm-3">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email3</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email4</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <a>联系方式</a>
            </div>
        </div>
    </div>
    <ul class="nav nav-pills">
        <li class=""><a href="#home" data-toggle="tab">Home</a></li>
        <li class=""><a href="#profile" data-toggle="tab">Profile</a></li>
        <li><a href="#messages" data-toggle="tab">Messages</a></li>
    </ul>
    <div id='content' class="tab-content">
        <div class="tab-pane active" id="home">
            honme
        </div>
        <div class="tab-pane" id="profile">
            profile
        </div>
        <div class="tab-pane" id="messages">
        </div>
    </div>    
    <div class="row panel panel-default">
        <div class="panel-heading">
            <a><i class="fa fa-location-arrow"></i></a>
            <a><i class="fa fa-gbp"></i></a>
            <a><i class="fa fa-dollar"></i></a>
            <a><i class="fa fa-align-justify"></i></a>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary carousel-inner"><i class="fa fa-plus"></i></button>
    </div>
</div>
<nav class="navbar navbar-blue navbar-fixed-bottom" role="navigation">
    <div class="nav navbar-right">
        <button class="btn navbar-blue fa-white">保存</button>
        <span class="fa-white">|</span>
        <button class="btn navbar-blue fa-white">取消</button>
    </div>
</nav>