<div class="container">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header navbar-inverse row nav-justified">
            <a href="/" class="left"><i class="fa fa-home fa-white fa-2"></i></a>
            <ol class="breadcrumb">
                <li><a href="#">系统设置</a></li>
                <li><a href="#">权限组</a></li>
            </ol>
        </div>
    </nav>
    <div class="row panel panel-default form-horizontal">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">> </span>
                人事部权限组
            </li>
            <li class="list-group-item">
                <span class="badge">> </span>
                采购部权限组
            </li>
        </ul>
    </div>
    <button class="btn btn-lg btn-block btn-blue" ng-click="addContact()">
        <i class="fa fa-plus"></i>
    </button>
</div>